In [82]:
import json
import pandas as pd
from pandas.io.json import json_normalize
import glob, os

In [83]:
column_names = ["address","dateISO","establishment","lineItems","paymentMethod","summaryItems","taxes","total","filename"]
final = pd.DataFrame(columns = column_names)

In [84]:
#os.chdir("Tabscanner Results")
for file in glob.glob("*.json"):
    filename = file
    f = open(filename,) 
    data = json.load(f) 
    
    new = pd.DataFrame.from_dict(data)
    new.reset_index(inplace = True) 
    new.drop('success', axis=1, inplace=True)
    new.drop('code', axis=1, inplace=True)
    cols = ['address','dateISO','establishment','lineItems','paymentMethod','summaryItems','taxes','total']
    new = new.loc[new['index'].isin(cols)]
    
    df_n = new.transpose()
    new_header = df_n.iloc[0] #grab the first row for the header
    df_n = df_n[1:] #take the data less the header row
    df_n.columns = new_header #set the header row as the df header
    df_n = df_n[3:]
    df_n['filename'] = filename
    
    final = final.append(df_n)

In [85]:
final.reset_index(inplace = True)
#final
lineitems = final['lineItems'].apply(pd.Series)
#lineitems
final_merged = final.merge(lineitems, how='outer', left_index=True, right_index=True)
#final_merged

In [86]:
for i in range(0,15):
    item1=final_merged[i].apply(pd.Series)
    item1 = item1[['desc','descClean','lineTotal','qty','productCode','unit']]
    itemdesc = 'desc_'+str(i)
    itemdescclean = 'descClean_'+str(i)
    itemlinetot = 'lineTotal_'+str(i)
    itemqty = 'qty_'+str(i)
    itemprodcode = 'productCode_'+str(i)
    itemunit = 'unit_' + str(i)
    
    final_merged[itemdesc]=item1['desc']
    final_merged[itemdescclean]=item1['descClean']
    final_merged[itemlinetot]=item1['lineTotal']
    final_merged[itemqty]=item1['qty']
    final_merged[itemprodcode]=item1['productCode']
    final_merged[itemunit]=item1['unit']
    
    #values = [item1['desc'], item1['descClean'], item1['lineTotal'],item1['qty'],item1['productCode'],item1['unit']]
    #final_merged2 = final_merged.merge(item1, how='outer', left_index=True, right_index=True)

In [87]:
#final_merged

In [88]:
final_merged.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14], axis=1, inplace=True)
#final_merged

In [89]:
#list(final_merged)

In [90]:
final_merged.drop(['index','lineItems','summaryItems'], axis=1, inplace=True)
final_merged

,address,dateISO,establishment,paymentMethod,taxes,total,filename,desc_0,descClean_0,lineTotal_0,...,lineTotal_13,qty_13,productCode_13,unit_13,desc_14,descClean_14,lineTotal_14,qty_14,productCode_14,unit_14
0,7400 BATHURST ST,NaN,PETRO-CANADA,CASH,[],20,s49.json,Regular 21.083 0.949,Pump Regular 21.083 0.949,20.01000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7280 DIXIE ROAD,2015-11-30T17:03:24,7280 DIXIE ROAD,VISA,[],54.45,s65.json,PRICE / L,EREG 51.417L PUMP # PRICE / L,1.05000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HWY 481 EASTSOUND,2014-12-26T12:49:22,CTC\FUELCO,VISA,[5.75],58,s32.json,51.125L AT,51.125L AT,0.97000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9320 BATHURST ST L6A4N9,2017-03-19T10:35:22,AROMA CAFE,VISA,[],56.61,s7.json,Purchase,Auth # RRN 001001417 Purchase,56.61000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,,2017-04-23T09:54:00,DATE 4/23/17,,[2.93],25.47,s12.json,2 BTL MM APPLE,BTL MM APPLE,4.58000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3711 Rutherford Road,2015-02-21T23:07:00,7-Eleven,CASH,[],40.01,s53.json,Regular 41.461 0.955,Pump FUEL ( L ) ( S / L ) Regular 41.461 0.955,40.01000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3175 RUTHERFORD RD 18-20,2017-08-04T21:03:00,Marcello's,,[8.36],72.61,s29.json,INSALATA MISTA,INSALATA MISTA,9.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1081 RUTHERFORD RD,2015-01-24T20:29:00,PETRO-CANADA,CASH,[],49.9,s52.json,Regular 43.530 0.919,Regular 43.530 0.919,40.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,,2017-05-28T22:14:00,CHECK # 58458,,[54.93],477.43,s13.json,2 7 OZ FILET,7 OZ FILET,70.00000,...,0.0,2.0,,,2 Sub Caesar Salad,Sub Caesar Salad,0.0,2.0,,
9,7400 BATHURST ST,2014-12-13T18:22:00,PETRO-CANADA,CASH,[],46.65,s44.json,Regular 35.286 1.019,Pump Regular 35.286 1.019,40.03000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,6000 DUFFERIN ST,2015-02-11T17:03:45,DUFFERIN & STEELES,CASH,[],25.02,s33.json,25.041 L @ $ 0.999 / L,25.041 L @ $ / L HST Incl In Fuel $ 2.88,25.02000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,,2015-10-16T10:00:00,( Antisecake,,[4.01],70.86,s72.json,Founders Centennial 22oz,Founders Centennial 22oz,7.50000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,,2015-02-18T14:25:00,PETRO-CANADA,,[],32.85,s48.json,Regular 29.170 1.029,Pump FUEL ( L ) $ / L ) - Regular 29.170 1.029,30.02000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4926 BATHURST ST,2015-02-01T16:19:54,SHELL CANADA PRODUCTS,CASH,[0],20.01,s43.json,20.655 L ! $ 0.969 / L,20.655 L ! $ / L,20.01000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,,2017-04-04T13:06:18,aroma,VISA,[3.67],31.92,s14.json,Phillo Cheese,Phillo Cheese,2.95000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7400 BATHURST ST,2015-01-08T18:50:00,PETRO-CANADA,CASH,[],20,s55.json,Regular 22.002 0.909,Pump PREPAID FUEL ( L ) ( $ / L ) Regular 22.0...,20.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,3711 RUTHERFORD ROAD,2014-12-22T20:52:00,7-Eleven,CASH,[],62.51,s38.json,1 Excel Peppermint,Excel Peppermint,1.49000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2 BTL STELLA,2017-06-02T09:44:00,DATE 6/02/17,,[23.02],200.02,s18.json,1 10 OZ FILET CLSC,10 OZ FILET CLSC,48.00000,...,0.0,1.0,,,NaN,NaN,NaN,NaN,NaN,NaN
18,1 081 RUTHERFORD RD,2015-12-18T17:15:00,PETRO-CANADA,,[],20.01,s59.json,LITRES L,LITRES L,0.02000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,60 Harbour Street,2015-09-12T23:24:16,HARBOUR SIXTY STEAKHOUSE,VISA,[],652.5,s75.json,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,10749 BATHURST ST,2015-11-25T10:27:00,PETRO-CANADA,VISA,[],20.91,s63.json,LITRES L,LITRES L,19.44000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,,2015-02-15T15:55:07,SHEPPARD AND KODIAK ESSO,VISA,[1.55],13.44,s34.json,Blmnt Blu KS 20,Blmnt Blu KS,10.20000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,6085 Belgrave Road,2020-01-19T04:00:00,Urban Barn Address,VISA,[49.4],429.39,s1.json,Itenis total,379 99 379 99 Itenis total,379.99000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2367 RUTHERFORD ROAD,2014-12-15T22:13:32,7-Eleven,VISA,[],2.66,s35.json,40. 13L AT,. 13L AT,0.93000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,,2015-10-31T13:24:09,1138 Sheppard Ave.,VISA,[3.46],30.06,s58.json,EREG,EREG,29.50000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,4696 YONGE STREET,2015-01-11T10:55:53,YONGE & JOHNSTON ESSO,CASH,[],20,s39.json,22.242 L @ $ 0.899 / L,22.242 L @ $ / L HST Incl In Fuel $ 2.30,20.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"193 N. QUEEN STREET ETOBICOKE, ON M9C4Y1",2020-05-23T00:00:00,THE HOME DEPOT,VISA,[11.36],98.77,s81.json,076308731281 Command <A>,Command <A>,24.98000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,#120 - 10 Disera Drive,2015-01-01T15:43:00,FATBURGER,CASH,[3.33],28.87,s97.json,1 FAT DEAL,FAT DEAL POP,12.77000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,THE CENTRE STREET DELI,2017-04-10T13:49:18,THE CENTRE STREET DELI,VISA,[],59.06,s15.json,Purchase,Auth # RRN 001599153 Purchase,51.36000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,CENTRE STREET ESSO,2014-12-30T17:24:51,CENTRE STREET ESSO,CASH,[],40.39,s42.json,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,,2017-05-21T21:34:19,KFC - PIZZA HUT,VISA,[],58.45,s16.json,CONCORD ON L4K,CONCORD ON L4K MID Batch # : 064 SEQ,500.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,1081 RUTHERFORD RD,2014-12-04T22:41:00,PETRO-CANADA,CASH,[],33.95,s41.json,Regula 27.80.3,Pump Regula 27.80.3,30.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,7400 BATHURST ST,2014-12-02T16:17:00,PETRO-CANADA,VISA,[],29.38,s36.json,LITRES L,LITRES L,27.12000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,12981 KEELE ST.,2017-01-11T22:00:31,XXXXXXXXX1710,VISA,[],100,s3.json,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,1 PAISLEY COURT,2015-11-29T09:28:00,PETRO-CANADA,VISA,[],20.01,s61.json,PRICE / L $,LITRES L 19.443 REGULAR PRICE / L $,1.02000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,,2015-12-27T09:36:00,NAME 3GUYS,,[19.63],170.63,s99.json,1 7 OZ FILET,7 OZ FILET,35.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,King City ON L7B1L4,NaN,1515 King side Ro,VISA,[6.32],54.95,s60.json,PRICE / L,EREG 56.708L PUMP # PRICE / L,0.96000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,4926 BATHURST ST,NaN,SHELL CANADA PRODUCTS,VISA,"[1.25, 0]",10.9,s37.json,H Belmont BLUE KSZO 1,H Belmont BLUE KSZO,9.55000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,1081 RUTHERFORD RD,2015-02-27T23:04:00,PETRO-CANADA,CASH,[],20,s40.json,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,,2017-05-28T22:19:31,KEG #511 · Esplande,VISA,[],238.74,s17.json,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NORTH YOR M3H 3M4,2014-12-09T15:45:09,BATHURST AND WILSON ESSO,CASH,[],40,s56.json,37.416 L @ $ 1.069 / L,37.416 L @ $ / L HST Incl In Fuel $ 4.60,40.00101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,60 Harbour Street,2017-04-15T23:40:19,HARBOUR SIXTY STEAKHOUSE,VISA,[],300,s5.json,Check #,Check # Type : Purchase,4704.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,6000 DUFFERIN ST,2016-01-03T11:01:08,6900 Oufferin,VISA,[3.46],30.11,s67.json,PRICE / L,EREG 29.553L PUMP # PRICE / L,1.01000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"Blog A 2500 Winston Park Drive, Oakville",2020-03-12T12:44:38,BEST BUY #930,VISA,[14.3],124.29,s51.json,10528998 MLL82AM / A,MLL82AM / A APPLE USB - C CHG CBLE,25.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,,2017-04-23T09:54:00,DATE 4/23/17,,[2.93],25.47,s11.json,2 BTL MM APPLE,BTL MM APPLE,4.58000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,7400 BATHORST ST,2015-02-14T12:23:00,PETRO-CANADA,CASH,[],29.75,s50.json,Regular 24.534 1.019,Pump FUEL ( L ) ( $ / L ) ( $ ) Regular 24.534...,25.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,1-2354 MAJOR MACKENZIE DRIVE,2015-04-22T00:00:00,RED ROOSTER,CASH,"[1.01, 1.61]",22.72,s85.json,CHICKBREAST SL COM T12,CHICKBREAST SL COM T12,13.25000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,30 High Tech Rd,NaN,milestones,,[10.99],95.49,s70.json,2 Pt Stella,Patio Pt Stella,14.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,,2016-01-06T19:51:26,Have you tried our Luxury Car Wash yet?,VISA,[1.95],16.94,s66.json,LUXURY WSH,LUXURY WSH,14.99000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,7400 BATHURST ST,2015-01-30T18:32:00,PETRO-CANADA,CASH,[],28.05,s31.json,Regular 21.835 0.919,Pump ( ) ( 8/1 ( $ ) Regular 21.835 0.919,20.07000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
df = pd.melt(final_merged, id_vars=['dateISO', 'establishment', 'paymentMethod', 'taxes', 'total',
       'filename'], value_vars=['desc_0', 'descClean_0', 'lineTotal_0', 'qty_0',
       'productCode_0', 'unit_0', 'desc_1', 'descClean_1', 'lineTotal_1',
       'qty_1', 'productCode_1', 'unit_1', 'desc_2', 'descClean_2',
       'lineTotal_2', 'qty_2', 'productCode_2', 'unit_2', 'desc_3',
       'descClean_3', 'lineTotal_3', 'qty_3', 'productCode_3', 'unit_3',
       'desc_4', 'descClean_4', 'lineTotal_4', 'qty_4', 'productCode_4',
       'unit_4', 'desc_5', 'descClean_5', 'lineTotal_5', 'qty_5',
       'productCode_5', 'unit_5', 'desc_6', 'descClean_6', 'lineTotal_6',
       'qty_6', 'productCode_6', 'unit_6', 'desc_7', 'descClean_7',
       'lineTotal_7', 'qty_7', 'productCode_7', 'unit_7', 'desc_8',
       'descClean_8', 'lineTotal_8', 'qty_8', 'productCode_8', 'unit_8',
       'desc_9', 'descClean_9', 'lineTotal_9', 'qty_9', 'productCode_9',
       'unit_9', 'desc_10', 'descClean_10', 'lineTotal_10', 'qty_10',
       'productCode_10', 'unit_10', 'desc_11', 'descClean_11', 'lineTotal_11',
       'qty_11', 'productCode_11', 'unit_11', 'desc_12', 'descClean_12',
       'lineTotal_12', 'qty_12', 'productCode_12', 'unit_12', 'desc_13',
       'descClean_13', 'lineTotal_13', 'qty_13', 'productCode_13', 'unit_13',
       'desc_14', 'descClean_14', 'lineTotal_14', 'qty_14', 'productCode_14',
       'unit_14'])

In [92]:
#df

In [93]:

    
df['variable'] = df['variable'].str.replace('\d+', '')
df

,dateISO,establishment,paymentMethod,taxes,total,filename,variable,value
0,NaN,PETRO-CANADA,CASH,[],20,s49.json,desc_,Regular 21.083 0.949
1,2015-11-30T17:03:24,7280 DIXIE ROAD,VISA,[],54.45,s65.json,desc_,PRICE / L
2,2014-12-26T12:49:22,CTC\FUELCO,VISA,[5.75],58,s32.json,desc_,51.125L AT
3,2017-03-19T10:35:22,AROMA CAFE,VISA,[],56.61,s7.json,desc_,Purchase
4,2017-04-23T09:54:00,DATE 4/23/17,,[2.93],25.47,s12.json,desc_,2 BTL MM APPLE
...,...,...,...,...,...,...,...,...
4495,2015-02-14T12:23:00,PETRO-CANADA,CASH,[],29.75,s50.json,unit_,NaN
4496,2015-04-22T00:00:00,RED ROOSTER,CASH,"[1.01, 1.61]",22.72,s85.json,unit_,NaN
4497,NaN,milestones,,[10.99],95.49,s70.json,unit_,NaN
4498,2016-01-06T19:51:26,Have you tried our Luxury Car Wash yet?,VISA,[1.95],16.94,s66.json,unit_,NaN
4499,2015-01-30T18:32:00,PETRO-CANADA,CASH,[],28.05,s31.json,unit_,NaN

In [94]:
df['variable'] = df['variable'].str.replace('_', '')
df

,dateISO,establishment,paymentMethod,taxes,total,filename,variable,value
0,NaN,PETRO-CANADA,CASH,[],20,s49.json,desc,Regular 21.083 0.949
1,2015-11-30T17:03:24,7280 DIXIE ROAD,VISA,[],54.45,s65.json,desc,PRICE / L
2,2014-12-26T12:49:22,CTC\FUELCO,VISA,[5.75],58,s32.json,desc,51.125L AT
3,2017-03-19T10:35:22,AROMA CAFE,VISA,[],56.61,s7.json,desc,Purchase
4,2017-04-23T09:54:00,DATE 4/23/17,,[2.93],25.47,s12.json,desc,2 BTL MM APPLE
...,...,...,...,...,...,...,...,...
4495,2015-02-14T12:23:00,PETRO-CANADA,CASH,[],29.75,s50.json,unit,NaN
4496,2015-04-22T00:00:00,RED ROOSTER,CASH,"[1.01, 1.61]",22.72,s85.json,unit,NaN
4497,NaN,milestones,,[10.99],95.49,s70.json,unit,NaN
4498,2016-01-06T19:51:26,Have you tried our Luxury Car Wash yet?,VISA,[1.95],16.94,s66.json,unit,NaN
4499,2015-01-30T18:32:00,PETRO-CANADA,CASH,[],28.05,s31.json,unit,NaN

In [95]:
list(df)

['dateISO',
 'establishment',
 'paymentMethod',
 'taxes',
 'total',
 'filename',
 'variable',
 'value']

In [96]:
df['taxes'] = [','.join(map(str, l)) for l in df['taxes']]

In [97]:
df['index1'] = df.index

In [98]:
df.set_index(['index1','dateISO','establishment','paymentMethod','taxes','total','filename','variable'],inplace=True)

In [99]:
df

                                                                                                                                   value
index1 dateISO             establishment                           paymentMethod taxes     total filename variable
0      NaN                 PETRO-CANADA                            CASH                    20.00 s49.json desc      Regular 21.083 0.949
1      2015-11-30T17:03:24 7280 DIXIE ROAD                         VISA                    54.45 s65.json desc                 PRICE / L
2      2014-12-26T12:49:22 CTC\FUELCO                              VISA          5.75      58.00 s32.json desc                51.125L AT
3      2017-03-19T10:35:22 AROMA CAFE                              VISA                    56.61 s7.json  desc                  Purchase
4      2017-04-23T09:54:00 DATE 4/23/17                                          2.93      25.47 s12.json desc            2 BTL MM APPLE
...                                                                                                                                  ...
4495   2015-02-14T12:23:00 PETRO-CANADA                            CASH                    29.75 s50.json unit                       NaN
4496   2015-04-22T00:00:00 RED ROOSTER                             CASH          1.01,1.61 22.72 s85.json unit                       NaN
4497   NaN                 milestones                                            10.99     95.49 s70.json unit                       NaN
4498   2016-01-06T19:51:26 Have you tried our Luxury Car Wash yet? VISA          1.95      16.94 s66.json unit                       NaN
4499   2015-01-30T18:32:00 PETRO-CANADA                            CASH                    28.05 s31.json unit                       NaN

[4500 rows x 1 columns]

In [100]:

df1=df.unstack()
df1.reset_index(inplace=True)
df1

         index1              dateISO                            establishment  \
variable
0             0                  NaN                             PETRO-CANADA
1             1  2015-11-30T17:03:24                          7280 DIXIE ROAD
2             2  2014-12-26T12:49:22                               CTC\FUELCO
3             3  2017-03-19T10:35:22                               AROMA CAFE
4             4  2017-04-23T09:54:00                             DATE 4/23/17
...         ...                  ...                                      ...
4495       4495  2015-02-14T12:23:00                             PETRO-CANADA
4496       4496  2015-04-22T00:00:00                              RED ROOSTER
4497       4497                  NaN                               milestones
4498       4498  2016-01-06T19:51:26  Have you tried our Luxury Car Wash yet?
4499       4499  2015-01-30T18:32:00                             PETRO-CANADA

         paymentMethod      taxes  total  filename                 value  \
variable                                                            desc
0                 CASH             20.00  s49.json  Regular 21.083 0.949
1                 VISA             54.45  s65.json             PRICE / L
2                 VISA       5.75  58.00  s32.json            51.125L AT
3                 VISA             56.61   s7.json              Purchase
4                            2.93  25.47  s12.json        2 BTL MM APPLE
...                ...        ...    ...       ...                   ...
4495              CASH             29.75  s50.json                   NaN
4496              CASH  1.01,1.61  22.72  s85.json                   NaN
4497                        10.99  95.49  s70.json                   NaN
4498              VISA       1.95  16.94  s66.json                   NaN
4499              CASH             28.05  s31.json                   NaN


variable descClean lineTotal productCode  qty unit
0              NaN       NaN         NaN  NaN  NaN
1              NaN       NaN         NaN  NaN  NaN
2              NaN       NaN         NaN  NaN  NaN
3              NaN       NaN         NaN  NaN  NaN
4              NaN       NaN         NaN  NaN  NaN
...            ...       ...         ...  ...  ...
4495           NaN       NaN         NaN  NaN  NaN
4496           NaN       NaN         NaN  NaN  NaN
4497           NaN       NaN         NaN  NaN  NaN
4498           NaN       NaN         NaN  NaN  NaN
4499           NaN       NaN         NaN  NaN  NaN

[4500 rows x 13 columns]

In [79]:
df1.to_csv('Tabscanner_Results.csv')