In [197]:
import json
import pandas as pd
from pandas.io.json import json_normalize
import glob, os

In [198]:
#filename = "veryfi_s11.json"
#f = open(filename,) 
#data = json.load(f) 
#data['filename']=filename

dd = []
for file in glob.glob("*.json"):
    filename = file
    #print(filename)
    f = open(filename,) 
    dt = json.load(f) 
    dt['filename']=filename
    dd.append(dt)

In [199]:
new = pd.DataFrame.from_dict(dd)

In [200]:
new

,abn_number,account_number,bill_to_address,bill_to_name,bill_to_vat_number,card_number,cashback,category,currency_code,date,...,tip,total,tracking_number,vat_number,vendor,vendor_account_number,vendor_bank_name,vendor_bank_number,vendor_iban,filename
0,,G90737,,,,8246,0,,CAD,2015-11-29 09:28:00,...,0.00,20.01,,86 6894363,{'address': '1 Paisley Crt (Brock St & Consume...,,,,,veryfi_s61.json
1,,521389,,,,8246,0,,CAD,2014-12-02 10:17:00,...,0.00,29.38,,874383177,"{'address': '7400 Bathurst St, Thornhill, ON L...",,,,,veryfi_s36.json
2,,4011,,,,4011,0,,CAD,2014-12-04 22:41:00,...,0.00,33.95,,876253212,"{'address': '1081 Rutherford Rd, Thornhill, ON...",,,,,veryfi_s41.json
3,,,,,,1728,0,Meals & Entertainment,CAD,2017-05-21 21:34:19,...,7.62,58.45,,,"{'address': '10 Jacob Keffer Parkway, Maple ON...",,,,,veryfi_s16.json
4,,601777352601862122,,,,,0,,CAD,2014-12-09 15:45:09,...,0.00,40.00,,,"{'address': '3750 Bathurst St (Wilson), Toront...",,,,,veryfi_s56.json
5,,,,,,1710,0,Meals & Entertainment,CAD,2017-04-15 23:40:19,...,0.00,300.00,,,"{'address': '60 Harbour Street, Toronto, ON M5...",,,,,veryfi_s5.json
6,,,,,,1710,0,Meals & Entertainment,CAD,2017-05-28 22:19:31,...,50.00,238.74,,,"{'address': '26 The Esplanade, Toronto, ON M5E...",,,,,veryfi_s17.json
7,,4011,,,,4011,0,,CAD,2015-02-27 23:04:00,...,0.00,20.00,,876253212,"{'address': '1081 Rutherford Rd, Thornhill, ON...",,,,,veryfi_s40.json
8,,052965,,,,8246,0,Automotive,CAD,2015-02-17 11:58:42,...,0.00,10.90,,,"{'address': '4926 Bathurst St, North York, ON ...",,,,,veryfi_s37.json
9,,,,,,8246,0,,CAD,2015-10-21 12:12:42,...,0.00,54.95,,,"{'address': '', 'email': '', 'fax_number': '',...",,,,,veryfi_s60.json
10,,,,,,,0,Meals & Entertainment,CAD,2015-12-27 21:36:00,...,0.00,170.63,,R122833890,"{'address': '', 'email': '', 'fax_number': '',...",,,,,veryfi_s99.json
11,,,,,,5841,0,Office Supplies & Software,CAD,2020-03-12 12:44:00,...,0.00,124.29,,R135664738,"{'address': '2500 Winston Park Drive, Unit A, ...",,,,,veryfi_s51.json
12,,6274219641580677,,,,8246,0,,CAD,2016-01-03 11:01:08,...,0.00,30.11,,,"{'address': '3750 Bathurst St (Wilson), Toront...",,,,,veryfi_s67.json
13,,40115,,,,,0,,CAD,2015-01-30 18:32:00,...,0.00,28.05,,874383177,"{'address': '7400 Bathurst St, Thornhill, ON L...",,,,,veryfi_s31.json
14,,601777352528729701,,,,8246,0,Automotive,CAD,2016-01-06 19:51:26,...,0.00,16.94,,,{'address': '1500 Major Mackenzie Dr. W (at Du...,,,,,veryfi_s66.json
15,,,,,,,0,Meals & Entertainment,CAD,2020-08-15 19:59:00,...,0.00,95.49,,,"{'address': '30 High Tech Rd, Richmond Hill, O...",,,,,veryfi_s70.json
16,,815759,,,,4011,0,,CAD,2015-02-14 12:23:00,...,0.00,29.75,,874383177,"{'address': '7400 Bathurst St, Thornhill, ON L...",,,,,veryfi_s50.json
17,,,,,,1710,0,Meals & Entertainment,USD,2017-01-11 22:00:31,...,0.00,100.00,,,"{'address': '12981 Keele Street, King City, ON...",,,,,veryfi_s3.json
18,,060881,,,,1710,0,Meals & Entertainment,CAD,2017-03-19 10:35:22,...,0.00,56.61,,,"{'address': '9320 BATHURST ST LGA4N9', 'email'...",,,,,veryfi_s11.json
19,,,,,,0000,0,Meals & Entertainment,CAD,2015-04-22 00:00:00,...,0.00,22.72,,895121101-R10001,"{'address': '2354 Major MacKenzie Drive, Vaugh...",,,,,veryfi_s85.json
20,,,,,,,0,,CAD,2015-02-21 23:07:00,...,0.00,40.01,,,"{'address': '3711 Rutherford Rd, Woodbridge, O...",,,,,veryfi_s53.json
21,,266,,,,2002,0,Meals & Entertainment,CAD,2017-05-28 22:17:45,...,50.00,288.00,,,"{'address': '26 The Esplanade, Toronto, ON M5E...",,,,,veryfi_s12.json
22,,,,,,,0,,CAD,2015-01-05 12:11:00,...,0.00,20.00,,874383177,"{'address': '7400 Bathurst St, Thornhill, ON L...",,,,,veryfi_s49.json
23,,,,,,8240,0,,CAD,2014-12-26 12:49:22,...,0.00,50.98,,R823649357,"{'address': '684 Hespeler Rd, Cambridge, ON N3...",,,,,veryfi_s32.json
24,,601777352528729761,,,,8246,0,,CAD,2015-11-30 17:03:24,...,0.00,54.45,,,"{'address': '7280 Dixie Road, Mississauga ON, ...",,,,,veryfi_s65.json
25,,,,KRISTIN K,,,0,Meals & Entertainment,USD,2015-10-16 19:59:00,...,0.00,70.86,,,"{'address': '', 'email': '', 'fax_number': '',...",,,,,veryfi_s72.json
26,,,,,,,0,,CAD,2015-02-11 17:03:45,...,0.00,25.02,,,"{'address': '6000 Dufferin St, North York, ON ...",,,,,veryfi_s33.json
27,,4011,,,,4011,0,,CAD,2015-02-18 14:25:00,...,0.00,32.85,,676253212,"{'address': '2651 Rutherford Road, Vaughan, ON...",,,,,veryfi_s48.json
28,,,,,,,0,Meals & Entertainment,CAD,2017-08-04 21:54:00,...,0.00,72.61,,,"{'address': '3175 Rutherford Road, Concord, ON...",,,,,veryfi_s29.json
29,,910327,,,,4011,0,,CAD,2014-12-13 18:22:00,...,0.00,46.65,,874383177,"{'address': '7400 Bathurst St, Thornhill, ON L...",,,,,veryfi_s44.json
30,,,,,,,0,Meals & Entertainment,CAD,2017-05-28 22:14:00,...,0.00,477.43,,R122833890,"{'address': '', 'email': '', 'fax_number': '',...",,,,,veryfi_s13.json
31,,,,,,5841,0,,CAD,2020-01-19 08:48:00,...,0.00,429.39,,2122735590,"{'address': '6085 Belgrave Rd,Unit 2, Mississa...",,,,,veryfi_S1.json
32,,863957,,,,4011,0,,CAD,2015-01-24 20:29:00,...,0.00,49.90,,876253212,"{'address': '1081 Rutherford Rd, Thornhill, ON...",,,,,veryfi_s52.json
33,,954245,,,,8246,0,,CAD,2015-12-18 17:15:00,...,0.00,20.01,,876253212,"{'address': '1081 Rutherford Rd, Thornhill, ON...",,,,,veryfi_s59.json
34,,,,,,,0,Meals & Entertainment,CAD,2017-06-02 21:44:00,...,0.00,200.02,,884203910RP0001,"{'address': '', 'email': '', 'fax_number': '',...",,,,,veryfi_s18.json
35,,,,,,8246,0,,CAD,2015-02-15 15:55:07,...,0.00,13.44,,,{'address': '1138 Sheppard Ave West (Sheppard ...,,,,,veryfi_s34.json
36,,,,,,8246,0,,CAD,2015-11-25 19:27:00,...,0.00,20.91,,897731964,{'address': '10749 Bathurst St (at Elgin Mills...,,,,,veryfi_s63.json
37,,,,,,8246,0,Meals & Entertainment,CAD,2015-09-12 23:24:16,...,92.09,552.50,,,"{'address': '60 Harbour Street, Toronto, ON M5...",,,,,veryfi_s75.json
38,,4011,,,,4011,0,,CAD,2015-01-08 18:50:00,...,0.00,20.00,,874383177,"{'address': '7400 Bathurst St, Thornhill, ON L...",,,,,veryfi_s55.json
39,,089201,,,,,0,Meals & Entertainment,USD,2017-04-04 13:06:18,...,0.00,31.92,,,"{'address': '', 'email': '', 'fax_number': '',...",,,,,veryfi_s14.json
40,,,,,,,0,Automotive,CAD,2015-02-01 16:19:54,...,0.00,20.01,,137400032RT,"{'address': '4926 Bathurst St, North York, ON ...",,,,,veryfi_s43.json
41,,,,,,,0,,CAD,2014-12-22 20:52:00,...,0.00,62.51,,R119335453,"{'address': '3711 Rutherford Rd, Woodbridge, O...",,,,,veryfi_s38.json
42,,,,,,,0,Meals & Entertainment,CAD,2015-01-01 15:43:00,...,0.00,28.87,,810177287,"{'address': '10 Disera Drive, Unit 120, Vaugha...",,,,,veryfi_s97.json
43,,,,,,0165,0,Job Supplies,CAD,2020-02-23 00:00:00,...,0.00,98.77,,R135772911,"{'address': '193 N Queen Street, Toronto, ON M...",,,,,veryfi_s81.json
44,,601777352601862122,,,,,0,,CAD,2015-01-11 10:55:53,...,0.00,20.00,,,{'address': '4696 Yonge St. (at Johnston Ave.)...,,,,,veryfi_s39.json
45,,601777352601862122,,,,,0,,CAD,2014-12-30 17:24:51,...,0.00,40.39,,,{'address': '1138 Sheppard Ave West (Sheppard ...,,,,,veryfi_s42.json
46,,075371,,,,1710,0,Meals & Entertainment,CAD,2017-04-10 13:49:18,...,7.70,59.06,,,"{'address': '1136 Centre St, Thornhill, ON L4J...",,,,,veryfi_s15.json
47,,060881,,,,1710,0,Meals & Entertainment,CAD,2017-03-19 10:35:22,...,0.00,56.61,,,"{'address': '9320 BATHURST ST LGA4N9', 'email'...",,,,,veryfi_s7.json
48,,043650,,,,8240,0,,CAD,2014-12-15 22:13:32,...,0.00,37.53,,,"{'address': '2067 Rutherford Rd, Concord, ON L...",,,,,veryfi_s35.json
49,,8246,,,,8246,0,,CAD,2015-10-31 13:24:09,...,0.00,30.06,,,"{'address': '1138 Sheppard Ave W, North York, ...",,,,,veryfi_s58.json

In [201]:
#line_items = pd.DataFrame(new["line_items"])

In [58]:
#type(line_items["line_items"])

pandas.core.series.Series

In [61]:
#line_items['line_items'].apply(pd.Series)

In [62]:
#item=pd.DataFrame(line_items.line_items.tolist(), index= line_items.index)

In [65]:
#item["filename"] = new["filename"]

In [202]:
#item

In [203]:
#column_names = ['filename','item_num','description','quantity','sku','price','total','date','id']
#final = pd.DataFrame(columns = column_names)
#final

In [106]:
#item1 = item1[['desc','descClean','lineTotal','qty','productCode','unit']]

In [119]:
#dtt = pd.DataFrame(d.items())
#dtt = dtt[:1].transpose()

In [204]:
#dtt

In [205]:
#final = final.append(dtt)

In [206]:
#final

In [207]:
#col = 0
#row_index = 0
#f_index = 0

#if item[col][row_index] != None:
#    d = item[col][row_index]
#    d['item_num']=1   
#d['filename'] = item['filename'][row_index]
#dtt = pd.DataFrame(d.items())
#dtt = dtt.transpose()
#final = final.append(dtt)
#item1 = item1.transpose()*/

In [209]:
#final

In [90]:
#item1 = pd.DataFrame(d.items())

In [210]:
#item1.transpose()

In [211]:
#item1 = item1[['desc','descClean','lineTotal','qty','productCode','unit']]

In [212]:
#d['description']

In [213]:
column_names = ['filename','item_num','description','quantity','sku','price','total','date','id']
final = pd.DataFrame(columns = column_names)
final

Empty DataFrame
Columns: [filename, item_num, description, quantity, sku, price, total, date, id]
Index: []

In [214]:

for row_index in item.index:
    it = 1
    for col in range(0,14):
        if item[col][row_index] != None:
            d = item[col][row_index]
            d['item_num']=str(it)
            it=it+1
        #print(type(d),item[col][row_index])
        d['filename'] = item['filename'][row_index]
        dtt = pd.DataFrame(d.items())
        dtt = dtt.transpose()
        final = final.append(dtt)
#item1 = item1.transpose()

In [215]:
final

,0,1,2,3,4,5,6,7,8,9,...,15,date,description,filename,id,item_num,price,quantity,sku,total
0,date,description,discount,id,order,price,quantity,reference,sku,tax,...,filename,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,...,veryfi_s61.json,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,date,description,discount,id,order,price,quantity,reference,sku,tax,...,filename,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,...,veryfi_s61.json,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,date,description,discount,id,order,price,quantity,reference,sku,tax,...,filename,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,...,veryfi_s58.json,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,date,description,discount,id,order,price,quantity,reference,sku,tax,...,filename,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,...,veryfi_s58.json,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,date,description,discount,id,order,price,quantity,reference,sku,tax,...,filename,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,...,veryfi_s58.json,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [216]:
final.drop(['filename','item_num','description','quantity','sku','price','total','date','id'], axis=1, inplace=True)

In [217]:
final

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename
1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json
0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename
1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json
0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json
0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename
1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json
0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename
1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json

In [218]:
new_header = final.iloc[0] #grab the first row for the header
final = final[1:] #take the data less the header row
final.columns = new_header #set the header row as the df header
#df_n = df_n[3:]
final

,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename
1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json
0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename
1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json
0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename
1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json
0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename
1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json
0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename
1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json

In [219]:
final["index1"]=final.index

<ipython-input-219-0071f459fd66>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final["index1"]=final.index

In [220]:
final

,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename,index1
1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename,0
1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename,0
1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1
0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename,0
1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1
0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename,0
1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1

In [221]:
final.reset_index(inplace = True)

In [222]:
final

,index,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename,index1
0,1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
1,0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename,0
2,1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
3,0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename,0
4,1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1
1395,0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename,0
1396,1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1
1397,0,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename,0
1398,1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1

In [223]:
final = final[final['index1']==1]

In [224]:
final

,index,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename,index1
0,1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
2,1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
4,1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
6,1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
8,1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1
1392,1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1
1394,1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1
1396,1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1
1398,1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1

In [225]:
final.reset_index(inplace = True)

In [226]:
final

,level_0,index,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename,index1
0,0,1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
1,2,1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
2,4,1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
3,6,1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
4,8,1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1390,1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1
696,1392,1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1
697,1394,1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1
698,1396,1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1
699,1398,1,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json,1

In [227]:
final.drop(['level_0','index','index1'], axis=1, inplace=True)

/Users/priyankamukherjee/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [228]:
final

,date,description,discount,id,order,price,quantity,reference,sku,tax,tax_rate,total,type,unit_of_measure,item_num,filename
0,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json
1,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json
2,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json
3,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json
4,,REGULAR\nL,0,25125584,0,1.029,19.443,,,0,0,20.01,fuel,LITRES,1,veryfi_s61.json
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json
696,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json
697,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json
698,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json
699,,EREG\nL,0,25125613,0,1.019,29.504,,,0,0,30.06,fuel,,1,veryfi_s58.json

In [229]:
final_merged = pd.merge(final, new, on='filename', how='outer')

In [230]:
list(final_merged)

['date_x',
 'description',
 'discount_x',
 'id_x',
 'order',
 'price',
 'quantity',
 'reference',
 'sku',
 'tax_x',
 'tax_rate',
 'total_x',
 'type',
 'unit_of_measure',
 'item_num',
 'filename',
 'abn_number',
 'account_number',
 'bill_to_address',
 'bill_to_name',
 'bill_to_vat_number',
 'card_number',
 'cashback',
 'category',
 'currency_code',
 'date_y',
 'discount_y',
 'due_date',
 'external_id',
 'id_y',
 'img_file_name',
 'img_thumbnail_url',
 'img_url',
 'invoice_number',
 'line_items',
 'ocr_text',
 'payment_display_name',
 'payment_terms',
 'payment_type',
 'phone_number',
 'purchase_order_number',
 'reference_number',
 'rounding',
 'service_end_date',
 'service_start_date',
 'shipping',
 'subtotal',
 'tax_y',
 'tax_lines',
 'tip',
 'total_y',
 'tracking_number',
 'vat_number',
 'vendor',
 'vendor_account_number',
 'vendor_bank_name',
 'vendor_bank_number',
 'vendor_iban']

In [231]:
final_merged = final_merged[['date_x',
 'description',
 'discount_x',
 'id_x',
 'order',
 'price',
 'quantity',
 'sku',
 'tax_x',
 'tax_rate',
 'total_x',
 'type',
 'unit_of_measure',
 'item_num',
 'filename',
 'card_number',
 'cashback',
 'category',
 'currency_code',
 'date_y',
 'discount_y',
 'external_id',
 'id_y',
 'invoice_number',
 'payment_display_name',
 'payment_type',
 'shipping',
 'subtotal',
 'tax_y',
 'tip',
 'total_y',
'vendor'
 ]]

In [239]:
final_merged

,date_x,description,discount_x,id_x,order,price,quantity,sku,tax_x,tax_rate,...,id_y,invoice_number,payment_display_name,payment_type,shipping,subtotal,tax_y,tip,total_y,vendor
0,,REGULAR\nL,0,25125584,0,1.029,19.443,,0,0,...,29732215,604601,Visa ***8246,visa,0,20.01,2.31,0.0,20.01,{'address': '1 Paisley Crt (Brock St & Consume...
1,,REGULAR\nL,0,25125584,0,1.029,19.443,,0,0,...,29732215,604601,Visa ***8246,visa,0,20.01,2.31,0.0,20.01,{'address': '1 Paisley Crt (Brock St & Consume...
2,,REGULAR\nL,0,25125584,0,1.029,19.443,,0,0,...,29732215,604601,Visa ***8246,visa,0,20.01,2.31,0.0,20.01,{'address': '1 Paisley Crt (Brock St & Consume...
3,,REGULAR\nL,0,25125584,0,1.029,19.443,,0,0,...,29732215,604601,Visa ***8246,visa,0,20.01,2.31,0.0,20.01,{'address': '1 Paisley Crt (Brock St & Consume...
4,,REGULAR\nL,0,25125584,0,1.029,19.443,,0,0,...,29732215,604601,Visa ***8246,visa,0,20.01,2.31,0.0,20.01,{'address': '1 Paisley Crt (Brock St & Consume...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,,EREG\nL,0,25125613,0,1.019,29.504,,0,0,...,29732219,MFH90392,Visa ***8246,visa,0,30.06,3.46,0.0,30.06,"{'address': '1138 Sheppard Ave W, North York, ..."
696,,EREG\nL,0,25125613,0,1.019,29.504,,0,0,...,29732219,MFH90392,Visa ***8246,visa,0,30.06,3.46,0.0,30.06,"{'address': '1138 Sheppard Ave W, North York, ..."
697,,EREG\nL,0,25125613,0,1.019,29.504,,0,0,...,29732219,MFH90392,Visa ***8246,visa,0,30.06,3.46,0.0,30.06,"{'address': '1138 Sheppard Ave W, North York, ..."
698,,EREG\nL,0,25125613,0,1.019,29.504,,0,0,...,29732219,MFH90392,Visa ***8246,visa,0,30.06,3.46,0.0,30.06,"{'address': '1138 Sheppard Ave W, North York, ..."
699,,EREG\nL,0,25125613,0,1.019,29.504,,0,0,...,29732219,MFH90392,Visa ***8246,visa,0,30.06,3.46,0.0,30.06,"{'address': '1138 Sheppard Ave W, North York, ..."

In [235]:
s = final_merged['vendor']

In [247]:
type(final_merged['vendor'].apply(pd.Series))

pandas.core.frame.DataFrame

In [248]:
vendor_df = final_merged['vendor'].apply(pd.Series)

In [249]:
vendor_df.head()

,address,email,fax_number,name,phone_number,raw_name,vendor_logo,vendor_type,web
0,"1 Paisley Crt (Brock St & Consumers Dr), Whitb...",,,Petro-Canada,,Petro-Canada,https://cdn.veryfi.com/logos/us/900637360.png,gas station,
1,"1 Paisley Crt (Brock St & Consumers Dr), Whitb...",,,Petro-Canada,,Petro-Canada,https://cdn.veryfi.com/logos/us/900637360.png,gas station,
2,"1 Paisley Crt (Brock St & Consumers Dr), Whitb...",,,Petro-Canada,,Petro-Canada,https://cdn.veryfi.com/logos/us/900637360.png,gas station,
3,"1 Paisley Crt (Brock St & Consumers Dr), Whitb...",,,Petro-Canada,,Petro-Canada,https://cdn.veryfi.com/logos/us/900637360.png,gas station,
4,"1 Paisley Crt (Brock St & Consumers Dr), Whitb...",,,Petro-Canada,,Petro-Canada,https://cdn.veryfi.com/logos/us/900637360.png,gas station,

In [250]:
final_merged = pd.merge(final_merged, vendor_df, left_index=True, right_index=True, how='outer')

In [252]:
final_merged.drop(['vendor','address','email','fax_number','phone_number','vendor_logo','web'], axis=1, inplace=True)

In [253]:
final_merged.to_csv('Veryfi.csv')